@model IEnumerable<Escrutinio.Models.CircuitosEscrutadosIndexModel>

<table id="example1" class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>
                CIRCUITO
            </th>
            <th>
                PORCENTAJE
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CIRCUITO)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PORCENTAJE)
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <th>
                CIRCUITO
            </th>
            <th>
                PORCENTAJE
            </th>
        </tr>
    </tfoot>
</table>
